.footer{
    background-color: #000000;
    padding:112px 0;
}
.footer__boxes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__box{
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 0 0 16px;
    
}
.footer__title{
    color: #E9E9E9;
    font-size: 22px;
    font-weight: 600;
    display: block;
    letter-spacing: 2px;
    margin: 0 0 40px;
}
.footer__text{
    display: flex;
    color:#94998B;
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.8;
    font-weight: 600;
    
}
.footer__img{
    width: 16px;
    display:block;
    margin: 0 5px;
}
@media(max-width:768px){
    .footer{
        box-sizing: border-box;
    }
}
@media(max-width:425px){
    .footer{
        box-sizing: border-box;
    }
    .footer__boxes{
        display:flex;
        flex-wrap: wrap;
        
    }
    .footer__box{
       width:calc(100%);
       justify-content: center;
       align-items: center;
       padding-bottom: 70px;
    }
}
@media(max-width:320px){
    .footer{
        width: 320px;
    }
 }