.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
}
.header__inner{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
}
.logo{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 44px;
}
.lab{
    color:#59E773;
    margin-left:-5px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav__item{
    position: relative;
    margin:20px;
    list-style: none;
}
.nav__link{
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}
.nav__item:last-child{
    margin-right: 0;
}
.nav__link::after{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: rgb(49,222,121);
    top:calc(100% + 15px);
    left: 0;
    transition: .5s;
}

.nav__link:hover::after{
    display: block;
    width: 100%;
}
.nav__link{
    color: #000000;
    text-decoration: none;
}


.right-header{
    background-image: url(../../images/bg_1.webp);
    background-size: cover;
    background-position: center;
}

.left-header{
    display:flex;
    justify-content: center;
    align-items: center;
}
.rotated{
    position: absolute;
    transform: rotate(-90deg);
    left:-78px;
    top:288px;
}
.rotated__text{
    color:#C7C7C7;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px; 
    margin-left: 0;
}
.left-header_inner{
    max-width: 450px;
    margin: 0 10px 0 78px;
}
.left-header_inner h2{
    color:#31de79;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}
.header_bold{
    font-size: 44px;
    line-height: 1.3;
    font-weight: 300;
    margin: 16px 0 24px;
}
.left-header_inner p{
    color: rgba(0,0,0,.8);
    font-weight: 700;
    font-size: 20x;
    line-height: 1.5;
    margin: 0 0 16px;
    opacity: 0.8;
}
.header__button{
    padding:16px 48px;
	color:#fff;
	background-color: #31de79;
	border-radius:25px;
	margin: 16px 0 0;
	font-size: 16px;
	border: none;
    letter-spacing: 1px;
    background: linear-gradient(-45deg,#9ff669 0%,#31de79 100%);
    cursor:pointer;
}
.nav__icon__block{
    display:block;
    }
.nav__icon{
    width: 35px;
    height: 5px;
    background-color: #DEDEDE;
    margin: 6px 0;      
}
.adaptiveHeader{
    display:none;
}
.adaptiveNav{
    display: none;
}
.Navbar__Items{
    display:none;
}
@media(max-width:768px){
  
    .adaptiveHeader{
        width: 100%;
    }
    .nav{
        display:none;
    }
    .adaptiveNav{
        display: block;
        box-sizing: border-box;
    }
  
    .header{
        display: none;
    }
    .adaptiveHeader{
        
        display: block;
        background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)  ),url('../../images/bg_2.webp');
        background-size: cover;
    }
    .header__inner{
        display: flex;
        position: relative;
        background-color: #000000;
        justify-content: space-between;
        align-items: unset;

    }
    .logo{
        color: #fff;
    }
    .main__content{
        display:flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0 ;
    }
    .main__title{
        color:#31de79;;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.3;
    }
    .main__text{
        font-size: 44px;
        font-weight: 300;
        margin-top: 24px;
        color:#fff;
        margin:16px 0 24px;
        line-height: 1.3;
    }
    .main__bold{
        font-weight: 700;
        font-size: 44px;
        color: #fff;
    }
    .main__subtext{
        font-size: 20px;
        margin: 0 0 16px;;
        color: #fff;
        font-weight: 400;
        line-height: 1.5;
    }
    .Navbar__Link{
        color:#fff;
    }
}

@media(max-width:425px){
    .main__content{
        padding: 100px 0;
    }
}
@media(max-width:375px){
    .adaptiveHeader{
        width: 375px;
    }
   
}
@media(max-width:320px){
    .adaptiveHeader{
        width: 320px;
    }
}
