.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.modal__content{
    width: 800px;
    height: 400px;
    background: #fff;
    margin: auto;
}