.section4__grid{
    display: grid;
    grid-template-columns: 370px auto;
}
.section4__image{
    background-image: url(../../images/about.webp);
    background-size: cover;
    background-position: center;
}
.section4__content{
    padding: 48px 15px 48px 48px;
}
.section4__title{
    display: flex;
    color:#31de79;;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.8;
    margin: 0 0 5px;
}
.section4__subtitle{
    display:flex;
    font-weight: 500;
    font-size: 34px;
    color: rgba(0,0,0,.9);
    line-height: 1.5;
    margin: 0 0 24px;
}
     
.section4__text{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#B2B2B2;
    margin: 0 0 16px;
    font-size: 15px;
    line-height: 1.8;
}
.section4__box{
    background-color: #31de79;
    padding: 24px;
    font-size:20px;
    text-transform: uppercase;
    width: 270px;
    line-height: 1.3;
    padding-left: 80px;
    margin:30px 0 0 -100px;
}
.section4__box h1{
    font-weight: 600;
    font-size: 24px;
}
@media(max-width:768px){
    .section4__grid{
        display: grid;
        grid-template-columns: 330px auto;
    }
    .section4__box{
        margin: 0;
        padding: 15px;
    }
}
@media(max-width:425px){
    .section4{
        width: 425px;
    }
    .section4__content{
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .section4__grid{
        display: grid;
        grid-template-columns: 0fr;
    }
    .section4__image{
        display: none;
    }
    .section4__content{
        width: 395px;
        margin:0;
        box-sizing: border-box;
    }
    .section4__subtitle{
        font-size: 24px;
        line-height: 1.5;
    }
   
}

@media(max-width:375px){
    .section4{
        width: 375px;
    }
    .section4__content{
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .section4__grid{
        display: grid;
        grid-template-columns: 0fr;
    }
    .section4__content{
        width: 290px;
        margin:0;
        box-sizing: border-box;
    }
    .section4__box{
        width: 265px;
        padding:5px;
    }
    .section4__box h1{
        font-size: 24px;
    }
   
}
@media(max-width:320px){
    .section4{
        width: 320px;
    }
 }