.section3{
    background-color: #F8F9FA;
    padding:112px 0;
}
.section3__content{
    padding: 0 15px 48px 15px;
}
.section3__title{
    display: flex;
    color:#31de79;;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    justify-content: center;
    margin: 0 0 5px;   
}
.section3__subtitle{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.8;
    color: rgba(0,0,0,.9);
    margin: 0 0 24px;
     }
     
.section3__text{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#B2B2B2;
    margin: 0 0 16px;
    font-size: 16px;
}
.section3__slider{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section3__img{
   height: 300px;
   width:calc(33.3% - 30);  
}
.section3__slider {
    display: flex;
    flex-wrap: wrap;
}
.section3__slider__arrow{
    display: none;
}
.slick-list {
width: calc(100% - 60px);
}
.slick-dots {
list-style: none;
display: flex;
justify-content: center;
padding-inline-start: 0;
width: 100%;
}
.slick-dots button {
font-size: 0;
width: 5px;
height: 5px;
border: none;
border-radius: 50%;
padding: 0;
background: #000;
margin: 0 8px;
opacity: 0.5;
}
.slick-active button {
opacity: 1;
}
@media(max-width:425px){
    .section3{
        padding-left: 0;
        padding-right: 0;
    }
    .section3__subtitle{
        font-size: 24px;
        line-height: 1.5;
    }
    .section3__text{
        line-height: 1.8;
        text-align: center;
    }
   }
   @media(max-width:320px){
    .section3{
        width: 320px;
    }
    .section3__slider{
        display:none;
    }
 }
