.section1{
    background-color: #F8F9FA;  
    padding:0 30px ;
}
.section1__grid{
    display: grid;
    grid-template-columns:310px auto;
}
 .section1__box{
    background-color: #31de79;
    line-height: 3.3;
    padding:48px 0px ;
    margin-bottom: -60px; 
}
.section1__content{
    padding: 48px;
}
.section1__content__img{
    margin: 0px 0px 16px;
}
.section1__item{
    display:flex;
    list-style: none;
    font-size: 20px;
    padding: 8px 24px;
    font-weight: bold;
    letter-spacing: 1.3px; 
} 
.section1__img{
    width: 24px;
    display:block;
    margin:0px 15px 0px 0px;
}
.section1__link{
    color:#D6F8E4;
    text-decoration: none;  
}
.section1__link:hover{
    color:#fff;
}
.section1__text{
    display:flex;
    align-items: center;
    color:#B2B2B2;
    margin: 0px 0px 16px;
    font-size: 16px;
    line-height: 1.8;   
}
.section1__title{
    font-size: 40px;
    font-weight: 300;
    margin: 0px 0px 24px;
}
.section1__button{
    padding:16px 24px;
	color:#fff;
	border-radius:25px;
	font-size: 16px;
	border: none;
    letter-spacing: 1px;
    background: linear-gradient(-45deg,#9ff669 0%,#31de79 100%);
    cursor:pointer;
}
@media(max-width:768px){
    .section1{
        width:768px;
        padding:0;
    } 
}
@media(max-width:425px){
    .section1{
        width: 425px;
    }
    .section1__grid{
        display: grid;
        grid-template-columns: 0fr;
    }
    .section1__box{
        width: 395px;
        margin:0;
    }
    .section1__content{
        width: 395px;
        margin:0;
        box-sizing: border-box;
        padding: 24px;
    }
    .section1__title{
        font-size: 32px;
        line-height: 1.5;
    }
    .section1__content__img{
        width: 100px;
        height: 100px;
        margin: 0 0 16px;
    }
}
@media(max-width: 375px){
    .section1{
        width: 375px;
    }
    .section1__grid{
        display: grid;
        grid-template-columns: 0fr;
    }
    .section1__box{
        width: 290px;
    }
    .section1__content{
        width: 290px;
        margin:0;
        box-sizing: border-box;
        padding: 24px;
    }
}
@media(max-width: 320px){
    .section1{
        width: 320px;
    }
}