.section2{
   background: url('../../images/bg_3.webp');
   background-size: cover;

}
.section2-grid{
   display: grid;
   grid-template-columns: auto 550px;
}
.section2__box{
   background-color: rgba(255,255,255,.9);
   margin:1px 0;
   padding:30px 250px 30px 50px;
   transition: .3s;
}
.section2__box:hover{
   margin-left:-90px;
}
.section2__title{
   color:#31de79;
   font-size:24px;
   font-weight: 400;
   line-height: 1.5;
   margin: 0 0 8px;
}
.section2__text{
   color:#232931;
   font-size: 16px;
   line-height: 1.8;
   font-weight: 400;
}
.section2__box:first-child{
   margin-top: 2px;
}
.section2__box:last-child{
   margin-bottom: 1px;
}
.section2__box::before{
   display: block;
   content: '';
   background: rgba(255,255,255,.9);

   /* top:calc(80% + 1px);
   left: 0;
   transition: .5s; */
}
@media(max-width:768px){
   .section2{
       width:100%;
   }
   .section2-grid{
      display: grid;
      grid-template-columns: auto 330px;
   }
   .section2__box{
      padding:30px 50px 30px 50px;
   }
}
@media(max-width:425px){

 .section2{
   width:100%;
}
.section2-grid{
  display: grid;
  grid-template-columns: auto 395px;
}
.section2__box{
  padding:30px 50px 30px 50px;
}
}
@media(max-width:375px){

   .section2{
     width:100%;
  }
  .section2-grid{
    display: grid;
    grid-template-columns: auto 310px;
  }
  .section2__box{
    padding:30px 40px 30px 50px;
  }
  }
  @media(max-width:320px){
   .section2{
       width: 320px;
   }
}
