.section6{
    background-color: #F8F9FA;
    padding: 112px 0;
}
.section6__title{
    display: flex;
    color:#31de79;;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    justify-content: center;
    margin: 0 0 5px;   
}
.section6__subtitle{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.8;
    color: rgba(0,0,0,.9);
    margin: 0 0 24px;
     }
     
.section6__text{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#B2B2B2;
    margin: 0 0 16px;
    font-size: 16px;
    padding: 0 0 48px;
}
.section6__images{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.section6__images__inner{
    width: calc(33.3% - 30px);
    display: flex;
    flex-direction: column;
}
.section6__images{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section6__img{
    width: 290px;
    height: 350px;
    object-fit: cover;
    width:calc(33.3% - 30);  
}
.section6__img__title{
    display: flex;
    color:#4E4E4E;
    font-size: 24px;
    letter-spacing: 1px;
    justify-content: center;
    padding-top:20px;
    line-height: 1.3;
    margin: 0 0 16px;
}
.section6__img__text{
    display:flex;
    color:#B2B2B2;
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: 1.8;
    margin: 0 0 16px;
}
.section6__buttons{
    display:flex;
    justify-content:space-between;
    margin:24px 5px 0 0;
}
.section6__button{
    padding:16px 24px;
	color:#fff;
	border-radius:25px;
	font-size: 16px;
	border: none;
    letter-spacing: 1px;
    background: linear-gradient(-45deg,#9ff669 0%,#31de79 100%);
    cursor:pointer;
}
@media(max-width:768px){
  .section6__img{
      width: 210px;
  }
}
@media(max-width:425px){
   
    .section6__images{
        display:flex;
        flex-wrap: wrap;
        
    }
    .section6__images__inner{
       width:calc(100%);
       justify-content: center;
       align-items: center;
       padding-bottom: 70px;
    }
    .section6__subtitle{
        font-size: 24px;
        line-height: 1.5;
    }
    .section6__text{
        line-height: 1.8;
        text-align: center;
    }
    .section6__img{
        width: 395px;
        height: 350px;
        object-fit: cover; 
    }
}
@media(max-width:375px){
   
    .section6__img{
        width: 290px;
        height: 350px;
        object-fit: cover; 
    }
}
@media(max-width:320px){
    .section6{
        width: 320px;
    }
 }