.section5{
    padding: 112px 0;
}
.section5__content{
    margin: 0 -15px;
    padding: 0 0 48px;
}
.section5__title{
    display: flex;
    color:#31de79;;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    justify-content: center;
    margin: 0 0 5px;   
}
.section5__subtitle{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.8;
    color: rgba(0,0,0,.9);
    margin: 0 0 24px;
     }
     
.section5__text{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#B2B2B2;
    margin: 0 0 16px;
    font-size: 16px;
}
.section5__images{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}
.section5__images__inner{
    display: flex;
    flex-direction: column;
    width:calc(33.3% - 30);
    justify-content: center;
}
.section5__img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    border-radius:175px;
    margin:0 30px;
    
}
.section5__img__content{
    padding: 16px 0 0;
}
.section5__img__name{
    display: flex;
    color:#4E4E4E;
    font-size: 24px;
    letter-spacing: 1px;
    justify-content: center;
    margin: 0 0 8px;
}
.section5__img__position{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#31de79;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 24px;
}
.section5__icons{
    display:flex;
    justify-content:center;
    margin: 0 0 16px;
}
.section5__icon{
    display: flex;
    width: 15px;
    padding-right: 8px;
    justify-content:space-between;
}
@media(max-width:768px){
    .section5__images{
        display:flex;
        flex-wrap: wrap;
    }
    .section5__images__inner{
       width:calc(50% - 10px);
       justify-content: center;
       align-items: center;
    }
}
@media(max-width:425px){
    .section5{
        box-sizing: border-box;
        padding: 70px 0;
    }
    .section5__images{
        display:flex;
        flex-wrap: wrap;
        
    }
    .section5__images__inner{
       width:calc(100%);
       justify-content: center;
       align-items: center;
       padding-bottom: 20px;
    }
    .section5__subtitle{
        font-size: 24px;
        line-height: 1.5;
    }
    .section5__text{
        line-height: 1.8;
        text-align: center;
    }
}
@media(max-width:320px){
    .section5{
        width: 320px;
    }
 }