@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('./vendor/reset.css');

@import url('./components/header.css');
@import url('./components/main.css');
@import url('./components/business.css');
@import url('./components/section2.css');
@import url('./components/section3.css');
@import url('./components/section4.css');
@import url('./components/section5.css');
@import url('./components/section6.css');
@import url('./components/footer.css');


.container{
    width: 1120px;
    margin: 0 auto;
}
@media(max-width:1024px){
    .container{
        width: 90%;
    }
}
@media(max-width:768px){
    .container{
        width:90%;
    }
}
@media(max-width:425px){
    .container{
        width:90%;
    }
}
@media(max-width:375px){
    .container{
        width:90%;
    }
}