@import url('./vendor/reset.css');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,900&display=swap');

@import url('./styles/header.css');
@import url('./styles/section1.css');
@import url('./styles/section2.css');
@import url('./styles/section3.css');
@import url('./styles/section4.css');
@import url('./styles/section4.css');
@import url('./styles/section5.css');
@import url('./styles/section6.css');
@import url('./styles/footer.css');
@import url('./styles/slick.css');
@import url('./styles/animate.css');
@import url('./styles/modal.css');

.wrapper {
    position: relative;
}
.container{
    width: 944px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
@media(max-width:1024px){
    .container{
        width: 90%;
    }
}
@media(max-width:768px){
    .container{
        width: 90%;
    }
}@media(max-width:425px){
    .container{
        width: 90%;
    }
}
@media(max-width:375px){
    .container{
        width: 90%;
    }
}
@media(max-width:320px){
    .container{
        width: 90%;
    }
}


